
nav > div {
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}
nav > div:hover {
    background-color: aquamarine;
}
.hidden {
    display: none;
}
